@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --white:#ffffff;
    --gray-100: #f2f2f2;
    --gray-200:#d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;

    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;

    --purple: #8284FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--gray-600);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiase;
}

